{% macro username(un, string_only=False) -%}
  <a class="username" href="{{ url('sbuser:view-profile', username=un if string_only else un.username) }}">{{ un }}</a>
{%- endmacro %}

{% macro when(dt) -%}
  <span class="datetime" title="{{ dt|format_datetime }}">
    {{- dt|format_timedelta -}}
  </span>
{%- endmacro %}


{% macro song(song, is_updated=False, with_artist=True) -%}
  <span class="songlink{% if is_updated %} songlink-updated{% endif %}" {#
    #}{% if is_updated %}title="{{ _("Updated %(when)s", when=song.changed_at|format_timedelta) }} "{% endif %}>{#
    #}{{ song.readiness|pie(title=_("Readiness: %(readiness)s%%", readiness=song.readiness)) }} {#
    #}<a href="{{ url('sbsong:view-song', song_id=song.id) }}">{#
      #}<span class="title">{{ song.title }}</span>{% if with_artist %}
      <span class="artist">{{ song.artist }}</span>{% endif %}{#
    #}</a>{#
  #}</span>
{%- endmacro %}


{% macro gig(gig) -%}
  <span class="giglink"><a href="{{ url('sbgig:view-gig', slug=gig.slug) }}">{#
    #}<span class="title">{{ gig.title }}</span>
    <span class="date">{{ gig.date|format_date("short") }}</span>{#
  #}</a></span>
{%- endmacro %}


{% macro part(part) -%}
  <span class="partinfo{% if part.required %} partinfo-required{% endif %}">{#
    #}<span class="instrument-name">{{ part.instrument }}</span>
    {%- if part.notice %}
      <span class="part-notice">{{ part.notice }}</span>
    {%- endif -%}
  </span>
{%- endmacro %}


{% macro csparts(parts, user_plays=()) -%}
  {% for p in parts[:5] -%}
    {% if loop.index == 5 -%}
      &hellip;
    {%- else -%}
      {%- if p.instrument_id in user_plays -%}
        <mark>{{ part(p) }}</mark>
      {%- else -%}
        {{ part(p) }}
      {%- endif -%}
      {%- if not loop.last %}, {% endif %}
    {% endif %}
  {%- endfor %}
{% endmacro %}


{% macro comments(url, comments, last_seen=None, with_song_names=False, with_gig_names=False) %}
  <div class="comments-container" data-url="{{ url }}">
    <div class="comments-stream
               {%- if not with_song_names %} hide-song-names {% endif -%}
               {%- if not with_gig_names %} hide-gig-names {% endif -%}">
      {{ comments_list(comments, last_seen) }}
    </div>
    <div class="load-more-line">
      <button type="button" class="btn btn-default btn-sm">
        {{- _("Show more") -}}
      </button>
    </div>
  </div>
  <script>$(function() { sb.comments($('.comments-container')); });</script>
{% endmacro %}


{% macro comments_list(comments, last_seen=None) -%}
{% for comment in comments %}
{%- with comment_data = comment.text|decode_json if comment.comment_type in (comment.CT_SONG_EDIT, comment.CT_GIG_EDIT) else None -%}
  <div class="comment {% if last_seen and last_seen < comment.datetime %}comment-unread{% else %}comment-seen{% endif -%}
              {%- if comment.comment_type in (comment.CT_SONG_EDIT, comment.CT_GIG_EDIT) %} comment-edit{% else %} comment-text{% endif %}"
       data-comment-id="{{ comment.id }}" data-comment-ts="{{ comment.datetime.timestamp()|int }}" id="c{{ comment.id }}">
    <div class="comment-header">
      {% if comment.comment_type in (comment.CT_SONG_EDIT, comment.CT_GIG_EDIT) %}
        {{ _(comment_data['action'],
             who=username(comment.author),
             when=when(comment.datetime)) }}
      {% else %}
        <span class="comment-author">
          {{- username(comment.author) -}}
        </span>
        <span class="comment-datetime">
          {{- when(comment.datetime) -}}
        </span>
      {% endif %}
      {% if comment.song %}
        <span class="songname">/ {{ song(comment.song) }} </span>
      {% endif %}
      <span class="gigname">/ {{ gig(comment.gig) }} </span>
      {% if comment.comment_type in (comment.CT_SONG_EDIT, comment.CT_GIG_EDIT) and 'changed_by' in comment_data %}
        <span class="changes-made-by">/
          {% trans who=username(comment_data['changed_by'], string_only=True) %}changes made by {{ who }}{% endtrans -%}
        </span>
      {% endif %}
    </div>
    {% if comment.comment_type in (comment.CT_SONG_EDIT, comment.CT_GIG_EDIT) %}
      <div class="comment-body textdiff">
        {% for change in comment_data['changes'] %}
          <dl>
            {% if change['title_translatable'] %}
              <dt>{{ _(change['title']) }}</dt>
            {% else %}
              <dt>{{ change['title'] }}</dt>
            {% endif %}
            <dd>
              {% if change['value_translatable'] %}
                {{ _(change['prev'])|textdiff(_(change['new']))|replace("\n", "<br>"|safe) }}
              {% else %}
                {{ change['prev']|textdiff(change['new'])|replace("\n", "<br>"|safe) }}
              {% endif %}
            </dd>
          </dl>
        {% endfor %}
      </div>
    {% else %}
      <div class="comment-body">
        {{ comment.text|markdown_safe }}
      </div>
    {% endif %}
  </div>
{%- endwith %}
{% endfor %}
{%- endmacro %}


{% macro _comment_form(url, csrf_token) -%}
  <div id="commentform">
    <form action="{{ url }}" method="post">
      {{ csrf(csrf_token) }}
      <div class="form-group">
        <textarea name="body" required rows="3" class="form-control"
          placeholder="{{ _("Your comment") }}"></textarea>
      </div>
      <div class="form-group collapse submit-formgroup">
        <button type="submit" class="btn btn-primary">
          {{ _("Send comment") }}
        </button>
      </div>
    </form>
  </div>
  <script>$(function() { sb.commentForm($('#commentform')); });</script>
{%- endmacro %}


{% macro song_comment_form(song, csrf_token) -%}
  {{ _comment_form(url('sbgig:add-song-comment', song_id=song.pk), csrf_token) }}
{%- endmacro %}


{% macro gig_comment_form(gig, csrf_token) -%}
  {{ _comment_form(url('sbgig:add-gig-comment', slug=gig.slug), csrf_token) }}
{%- endmacro %}


{% macro message(tag, text) %}
  <p class="alert alert-dismissible alert-{{ tag }}">
    <span>{{ text }}</span>
    <button type="button" class="close" data-dismiss="alert" title="{{ _("Dismiss") }}">
      &times;
    </button>
  </p>
{% endmacro %}
