{% macro username(un) -%}
  <a class="username" href="{{ url('sbuser:view-profile', username=un.username) }}">{{ un }}</a>
{%- endmacro %}

{% macro when(dt) -%}
  <span class="datetime" title="{{ dt|format_datetime }}">
    {{- dt|format_timedelta -}}
  </span>
{%- endmacro %}


{% macro song(song) -%}
  <span class="songlink"><a href="{{ url('sbsong:view-song', song_id=song.id) }}">{#
    #}<span class="title">{{ song.title }}</span>
    <span class="artist">{{ song.artist }}</span>{#
  #}</a></span>
{%- endmacro %}


{% macro gig(gig) -%}
  <span class="giglink"><a href="{{ url('sbgig:view-gig', slug=gig.slug) }}">{#
    #}<span class="title">{{ gig.title }}</span>
    <span class="date">{{ gig.date|format_date("short") }}</span>{#
  #}</a></span>
{%- endmacro %}


{% macro part(part) -%}
  <span class="partinfo"><span class="instrument-name">{{ part.instrument }}</span>
    {%- if part.required -%}
      <span class="part-required">*</span>
    {%- endif -%}
    {%- if part.notice %}
      <span class="part-notice">{{ part.notice }}</span>
    {%- endif -%}
  </span>
{%- endmacro %}


{% macro csparts(parts) -%}
  {% for p in parts[:5] -%}
    {% if loop.index == 5 -%}
      &hellip;
    {%- else -%}
      {{ part(p) }}{% if not loop.last %}, {% endif %}
    {% endif %}
  {%- endfor %}
{% endmacro %}


{% macro comments_list(comments, with_song_names=False, with_gig_names=False) -%}
<div class="comments" id="comments">
{% for comment in comments %}
{%- with comment_data = comment.text|decode_json if comment.comment_type in (comment.CT_SONG_EDIT, comment.CT_GIG_EDIT) else None -%}
  <div class="comment" data-comment-id="{{ comment.id }}">
    <div class="comment-header">
      {% if comment.comment_type in (comment.CT_SONG_EDIT, comment.CT_GIG_EDIT) %}
        {{ _(comment_data['action'],
             who=username(comment.author),
             when=when(comment.datetime)) }}
      {% else %}
        <span class="comment-author">
          {{- username(comment.author) -}}
        </span>
        <span class="comment-datetime">
          {{- when(comment.datetime) -}}
        </span>
      {% endif %}
      {% if with_song_names and comment.song %}
         / {{ song(comment.song) }}
      {% endif %}
      {% if with_gig_names %}
         / {{ gig(comment.gig) }}
      {% endif %}
    </div>
    {% if comment.comment_type in (comment.CT_SONG_EDIT, comment.CT_GIG_EDIT) %}
      <div class="song-changed-comment-body textdiff">
        {% for change in comment_data['changes'] %}
          <dl>
            {% if change['title_translatable'] %}
              <dt>{{ _(change['title']) }}</dt>
            {% else %}
              <dt>{{ change['title'] }}</dt>
            {% endif %}
            <dd>
              {{ change['prev']|textdiff(change['new'])|replace("\n", "<br>"|safe) }}
            </dd>
          </dl>
        {% endfor %}
      </div>
    {% else %}
      <div class="comment-body">
        {{ comment.text|markdown_safe }}
      </div>
    {% endif %}
  </div>
{%- endwith %}
{% endfor %}
</div>
<script>$(sb.commentsList);</script>
{%- endmacro %}


{% macro _comment_form(url, csrf_token) -%}
  <div id="commentform">
    <form action="{{ url }}" method="post">
      {{ csrf(csrf_token) }}
      <div class="form-group">
        <textarea name="body" required rows="3" class="form-control"
          placeholder="{{ _("Your comment") }}"></textarea>
      </div>
      <div class="form-group collapse submit-formgroup">
        <button type="submit" class="btn btn-primary">
          {{ _("Send comment") }}
        </button>
      </div>
    </form>
  </div>
  <script>$(function() { sb.commentForm($('#commentform')); });</script>
{%- endmacro %}


{% macro song_comment_form(song, csrf_token) -%}
  {{ _comment_form(url('sbgig:add-song-comment', song_id=song.pk), csrf_token) }}
{%- endmacro %}


{% macro gig_comment_form(gig, csrf_token) -%}
  {{ _comment_form(url('sbgig:add-gig-comment', slug=gig.slug), csrf_token) }}
{%- endmacro %}
