{% import "_macros.html" as macros %}
<!doctype html>
<head>{% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block pagetitle %}{{ _("songbook") }}{% endblock %}</title>
  <link href="{{ static('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ static('sb.css') }}" rel="stylesheet">
  <script src="{{ static('jquery-2.2.3.min.js') }}"></script>
  <script src="{{ static('bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ static('sb.js') }}"></script>
  {% block extrahead %}{% endblock %}
{% endblock %}</head>
<body>{% block body %}

{% block navbar %}
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#navbar-collapse" aria-expanded="false">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
        <a class="navbar-brand" href="{{ url('sbdashboard:dashboard') }}">{% trans %}songbook{% endtrans %}</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        {% block breadcrumbs %}{% endblock %}
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">{{ _("Gigs") }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              {% for gig in all_gigs() %}
                <li><a href="{{ url("sbgig:view-gig", slug=gig.slug) }}">{{ gig.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
        {% if request.user.is_authenticated() %}
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="{{ url('sbuser:logout') }}">
                {{- _("Log out") -}}
              </a>
            </li>
            <li>{{ macros.username(request.user) }}</li>
          </ul>
        {% endif %}
      </div>
    </div>
  </nav>
{% endblock %}

<div class="container">
  {% block flashes %}
    {% if messages %}
      <div id="flashes">
        {% for message in messages(request) %}
          {{ macros.message(message.tags, message) }}
        {% endfor %}
        {% block extra_messages %}{% endblock %}
      </div>
    {% endif %}
  {% endblock %}

  {% block content %}{% endblock %}
</div>

{% endblock %}</body>
