<div class="comments">
{% for comment in comments %}
{%- with comment_data = comment.text|decode_json if comment.comment_type == 'song_changed' else None -%}
  <div class="comment">
    <div class="comment-header">
      {% if comment.comment_type == 'song_changed' %}
        {{ _(comment_data['action'], who=comment.author, when=comment.datetime|format_timedelta) }}
      {% else %}
        <span class="comment-author">
          {{- comment.author -}}
        </span>
        <span class="comment-datetime" title="{{ comment.datetime|format_datetime }}">
          {{- comment.datetime|format_timedelta -}}
        </span>
      {% endif %}
    </div>
    {% if comment.comment_type == 'song_changed' %}
      <div class="song-changed-comment-body row">
        <div class="col-sm-6 diff-prev">
          {% for change in comment_data['changes'] %}
            <dl>
              {% if change['title_translatable'] %}
                <dt>{{ _(change['title']) }}</dt>
              {% else %}
                <dt>{{ change['title'] }}</dt>
              {% endif %}
              <dd>
                {{ change['prev']|replace("\n", "<br>"|safe)|default("&ndash;") }}
              </dd>
            </dl>
          {% endfor %}
        </div>
        <div class="col-sm-6 diff-new">
          {% for change in comment_data['changes'] %}
            <dl>
              {% if change['title_translatable'] %}
                <dt>{{ _(change['title']) }}</dt>
              {% else %}
                <dt>{{ change['title'] }}</dt>
              {% endif %}
              <dd>
                {{ change['new']|replace("\n", "<br>"|safe)|default("&ndash;") }}
              </dd>
            </dl>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <div class="comment-body">
        {{ comment.text|markdown_safe }}
      </div>
    {% endif %}
  </div>
{%- endwith %}
{% endfor %}
</div>
