.textdiff .added,
.textdiff .removed {
  margin-right: 0.3em;
}
.textdiff .added {
  background-color: #dfd;
}
.textdiff .removed {
  background-color: #fdd;
  text-decoration: line-through;
}

.song-uneditable .song-editing {
  display: none;
}

ul#partsinfo,
ul#links {
  padding: 0;
}
ul#partsinfo > li,
ul#links > li {
  list-style: none;
  padding: 1em 0;
}
ul#partsinfo .controls button,
ul#links .controls button {
  display: none;
  margin: -2px 0;
}
ul#partsinfo > li:hover button.not-joined,
ul#partsinfo > li:hover button.remove-part,
ul#links > li:hover .controls button {
  display: inline-block;
}
ul#partsinfo .instrument-name,
ul#links .link-notice {
  font-size: 120%;
}
ul#partsinfo .join-form > *,
ul#partsinfo .remove-part-form > * {
  display: inline-block;
}
ul#partsinfo button.save-changes,
ul#partsinfo button.joined,
ul#partsinfo button.leave-part {
  display: none;
}
ul#partsinfo li.joined button.join-part,
ul#partsinfo li.joined button.not-joined {
  display: none;
}
ul#partsinfo li.joined button.save-changes,
ul#partsinfo li.joined:hover button.joined,
ul#partsinfo li.joined button.leave-part {
  display: inline-block;
}
form.remove-part {
  display: inline;
}
ul#partsinfo .controls {
  margin-bottom: 1em;
}
ul#links .edit-form,
ul#links .remove-form {
  margin: 1em 0;
}

span.giglink .date {
  color: gray;
}

span.songlink .artist {
  color: gray;
}

a.username {
    display: inline-block;
    color: black;
}
a.username:first-letter {
    color: red;
}

.partinfo .part-notice {
  color: gray;
}

.comments-container .hide-song-names .comment-header .songname,
.comments-container .hide-gig-names .comment-header .gigname {
  display: none;
}
.comments-container .load-more-line {
  display: none;
}
.comments-container.have-more .load-more-line {
  display: block;
}
.comments-stream .comment {
  margin-bottom: 1em;
}
.comments-stream .comment-header {
  background-color: #f6f6fa;
  padding: 0.8ex 0.2ex;
  margin-bottom: 0.5em;
  color: #888;
}
.comments-stream .song-changed-comment-body dd {
  font-family: monospace;
  overflow: auto;
  white-space: nowrap;
}

.songs-in-gig .songlink {
  font-size: 120%;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.6em;
}
