.textdiff .added,
.textdiff .removed {
  margin-right: 0.3em;
}
.textdiff .added {
  background-color: #dfd;
}
.textdiff .removed {
  background-color: #fdd;
  text-decoration: line-through;
}

.song-uneditable .song-editing {
  display: none;
}

ul#partsinfo,
ul#links {
  padding: 0;
}
ul#partsinfo > li,
ul#links > li {
  list-style: none;
  padding: 1em 0;
}
ul#partsinfo .controls button,
ul#links .controls button {
  display: none;
  margin: -2px 0;
}
ul#partsinfo > li:hover button.not-joined,
ul#partsinfo > li:hover button.remove-part,
ul#links > li:hover .controls button {
  display: inline-block;
}
ul#partsinfo .instrument-name,
ul#links .link-notice {
  font-size: 120%;
}
ul#partsinfo .join-form > *,
ul#partsinfo .remove-part-form > * {
  display: inline-block;
}
ul#partsinfo button.save-changes,
ul#partsinfo button.joined,
ul#partsinfo button.leave-part {
  display: none;
}
ul#partsinfo li.joined button.join-part,
ul#partsinfo li.joined button.not-joined {
  display: none;
}
ul#partsinfo li.joined button.save-changes,
ul#partsinfo li.joined:hover button.joined,
ul#partsinfo li.joined button.leave-part {
  display: inline-block;
}
ul#partsinfo ul.performers li {
  padding-left: 2em;
}
ul#partsinfo .rangeslider .display-value {
  display: block;
  margin-top: 0.6em;
}
form.remove-part {
  display: inline;
}
ul#partsinfo .controls {
  margin-bottom: 1em;
}
ul#links .edit-form,
ul#links .remove-form {
  margin: 1em 0;
}

span.giglink .date {
  color: gray;
}

span.songlink .artist {
  color: gray;
}

a.username {
    display: inline-block;
    color: black;
}
a.username:first-letter {
    color: red;
}

.partinfo .part-notice {
  color: gray;
}
.partinfo-required .instrument-name:after {
  content: "*";
  color: #333;
}

.comments-container .hide-song-names .comment-header .songname,
.comments-container .hide-gig-names .comment-header .gigname {
  display: none;
}
.comments-container .load-more-line {
  display: none;
}
.comments-container.have-more .load-more-line {
  display: block;
}
.comments-stream .comment {
  margin-bottom: 1em;
}
.comments-stream .comment-header {
  background-color: #f6f6fa;
  padding: 0.8ex 0.2ex;
  margin-bottom: 0.5em;
  color: #888;
}
.comments-stream .song-changed-comment-body dd {
  font-family: monospace;
  overflow: auto;
  white-space: nowrap;
}
.comment-unread .comment-header {
  font-weight: bold;
}
.comment-unread .comment-header:before {
  content: "+";
  border-radius: 9pt;
  background-color: #aaa;
  color: white;
  padding: 0 5pt 1.5pt 5pt;
  font-size: 9pt;
  line-height: inherit;
  margin-right: 2pt;
}

.comment-unread + .comment-seen:before {
  content: "";
  border-top: 1px dashed #ccc;
  display: block;
  width: 100%;
  margin: 2.5em 0;
}

.songs-in-gig .songlink {
  font-size: 120%;
}
.songs-in-gig ul.list-unstyled {
  padding-left: 3.3ex;
}
.songs-in-gig .songlink .pie {
  margin-left: -2.5ex;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.6em;
}

.pie {
  font-size: 80%;
  margin-top: 0.1em;
  margin-bottom: -0.1em;
  height: 1em;
  width: 1em;
  overflow: hidden;
  position: relative;
  border: 1px solid black;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 1em;
  background-color: white;
  opacity: 0.4;
}
.pie:before, .pie:after {
  margin: -1px 0 0 -1px;
  position: absolute;
  content: "";
  background-color: black;
}
.pie:before {
  height: 2em;
  width: 1em;
  top: -0.5em;
  left: 0.5em;
}
.pie:after {
  height: 1em;
  width: 2em;
  top: 0.5em;
  left: -0.5em;
  transform-origin: 50% 0;
}

.pie-0:before, .pie-0:after,
.pie-100:before, .pie-100:after { display: none; }
.pie-100 { background-color: black; }

.pie-10:after, .pie-20:after, .pie-25:after,
.pie-30:after, .pie-40:after, .pie-50:after { background-color: white; }
.pie-60:after, .pie-70:after, .pie-75:after,
.pie-80:after, .pie-90:after, .pie-100:after { background-color: black; }

.pie-10:after { transform: rotate(-54deg); }
.pie-20:after { transform: rotate(-18deg); }
.pie-30:after { transform: rotate(18deg); }
.pie-40:after { transform: rotate(54deg); }
.pie-50:after { display: none; }
.pie-60:after { transform: rotate(-54deg); }
.pie-70:after { transform: rotate(-18deg); }
.pie-80:after { transform: rotate(18deg); }
.pie-90:after { transform: rotate(54deg); }
