{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block pagetitle %}{{ _("Edit song \"%(song)s\"", song=song) }} | {{ super() }}{% endblock %}

{% block content %}

<h1>{{ _("Edit song \"%(song)s\"", song=song) }}</h1>

<form action="" method="post">
  {{ form.as_bootstrap_form() }}
  {{ csrf(csrf_token) }}

  <div class="form-group">
    <button type="submit" class="btn btn-primary">
      {{ _("Save") }}
    </button>
    <a href="{{ url('sbsong:view-song', song_id=song.pk) }}" class="btn btn-default">
      {{- _("Cancel") -}}
    </a>
  </div>
</form>

{% endblock %}
