{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block pagetitle %}{{ _("Change password") }} | {{ super() }}{% endblock %}

{% block content %}

<h1>{{ _("Change password") }}</h1>

<hr>

<form action="" method="post" class="form-horizontal">
  {% for field in form %}
    <div class="form-group">
      <label class="col-sm-2 control-label">{{ field.label }}</label>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-3">
            {{ field }}
          </div>
        </div>
        {% if field.help_text %}
          <p class="text-muted">{{ field.help_text }}</p>
        {% endif %}
        {{ field.errors }}
      </div>
    </div>
  {% endfor %}
  {{ csrf(csrf_token) }}

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <button type="submit" class="btn btn-primary">
        {{ _("Change password") }}
      </button>
      <a href="{{ url('sbuser:view-profile', username=user.username) }}" class="btn btn-default">
        {{- _("Cancel") -}}
      </a>
    </div>
  </div>
</form>


{% endblock %}

