{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block pagetitle %}{{ user.username }} | {{ super() }}{% endblock %}

{% block content %}

<h1>{{ _("Profile of user %(username)s", username=macros.username(user)) }}</h1>

{% if is_editable %}
  <p>
    <a href="{{ url('sbuser:edit-profile', username=user.username) }}" class="btn btn-default">
      {{- _("Edit profile") -}}
    </a>
    {% if request.user == user %}
      <a href="{{ url('sbuser:change-password') }}" class="btn btn-default">
        {{- _("Change password") -}}
      </a>
    {% endif %}
  </p>
{% endif %}

<div class="lead">
  {{ user.profile.about_myself|markdown_safe }}
</div>

<hr>

<div class="row">
  <div class="col-sm-4">
    <h3>{{ _("I play") }}</h3>
      {% for instrument, user_plays in all_instruments %}
        <p>
          <span class="glyphicon glyphicon-ok" {% if not user_plays %} style="visibility: hidden"{% endif %}></span>
          {{ instrument }}
          {% if user_plays and user_plays.notice %}
            <span class="text-muted">({{ user_plays.notice }})</span>
          {% endif %}
        </p>
      {% endfor %}
  </div>

  <div class="col-sm-8">
    {% if comments %}
      <h3>{{ _("My last comments") }}</h3>

      <div class="comments-container">
        <div class="comments-stream">
          {{ macros.comments_list(comments) }}
        </div>
      </div>
    {% endif %}
  </div>
</div>


{% endblock %}
