{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block pagetitle %}{{ gig.title }} | {{ super() }}{% endblock %}A


{% block content %}
<h1>
  {{ gig.title }}
  <sup><span class="text-muted small" title="{{ gig.date|format_date }}">
    {{- gig.date|format_datedelta -}}
  </span></sup>
  <a class="btn btn-default btn-xs" href="{{ url('sbgig:edit-gig', slug=gig.slug) }}"
     title="{{ _("Edit this gig") }}">
    <span class="glyphicon glyphicon-pencil"></span>
  </a>
</h1>

<div class="lead">
  {{ gig.description|markdown_safe }}
</div>

<hr>

<div class="row songs-in-gig">
  <div class="col-sm-6">
    <h3>{{ _("Staffed songs") }}</h3>
    <div class="songs-in-gig">
      <ol>
        {% for song in staffed_songs %}
          <li>{{ macros.song(song) }}</li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="col-sm-6">
    <h3>{{ _("Unstaffed songs") }}</h3>
    <div class="songs-in-gig">
      <ul>
        {% for song in unstaffed_songs %}
          <li>
            {{ macros.song(song) }}
            <br>
            {% if song.unstaffed_parts %}
              {{ _("Wanted: %(parts)s", parts=macros.csparts(song.unstaffed_parts)) }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<a class="btn btn-default" href="{{ url('sb:suggest-song', gigslug=gig.slug) }}">
  {{- _("Suggest a song") -}}
</a>

<hr>

{{ macros.comments_list(gig.comments.all(), with_song_names=True) }}


{% endblock %}
