{% extends "base.html" %}

{% block pagetitle %}{{ song.title }} | {{ super }}{% endblock %}

{% block content %}

<h1>
  {{ song.title }}
  <sup><span class="text-muted small">suggested by {{ song.suggested_by }}</span></sup>
</h1>

{% if song.artist %}
  <h2>by {{ song.artist }}</h2>
{% endif %}

{% if song.description %}
  <p class="lead">{{ song.description|linebreaksbr }}</p>
{% endif %}

<div class="row">
  <div class="col-sm-6">
    <ul class="partsinfo">
      {% for part_info in parts %}
        <li {% if part_info.has_joined %}class="joined"{% endif %}>
          <p>
            {{ part_info.part.instrument.name }}
            {% if part_info.part.notice %}
              <span class="text-muted">({{ part_info.part.notice }})</span>
            {% endif %}
            <button type="button" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-flag"></span>
            </button>
            <div class="well well-sm" style="display: inline-block">
              <form action="{% url 'sb:join-song-part' part_info.part.pk %}" method="post">
                {% csrf_token %}
                {{ part_info.join_form.notice }}
                <button type="submit" class="btn btn-primary join-part">
                  Join
                </button>
                <button type="submit" class="btn btn-primary save-changes">
                  Save
                </button>
                <button type="submit" class="btn btn-danger leave-part">
                  Leave part
                </button>
              </form>
            </div>
            <p>
              {% for performer in part_info.performers %}
                <span class="performer">{{ performer.performer }}{% if performer.notice %} <span class="text-muted">({{ performer.notice }}){% endif %}</span>
              {% endfor %}
            </p>
          </p>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-sm-6">
  </div>
</div>

<style>
  ul.partsinfo button.save-changes,
  ul.partsinfo button.leave-part {
    display: none;
  }
  ul.partsinfo li.joined button.join-part {
    display: none;
  }
  ul.partsinfo li.joined button.save-changes,
  ul.partsinfo li.joined button.leave-part {
    display: inline-block;
  }
</style>


{% endblock %}
